<div class="container">
    <form *ngIf="purchaseForm" class="form-input"
          (ngSubmit)="onEditPurchase()">

        <div class="raw">
            <div class="col-8">
                <h4>Редактировать продукт</h4>
            </div>

            <button (click)="close()" type="button"  class="btn btn-sm btn-close"></button>
        </div>
        <p class="input-name">Название продукта:</p>
        <input class="form-control note-name-form"
         type="text"

          formControlName="name">

          <p class="input-amount">Количество:</p>
          <input class="form-control note-amount-form"
           type="text"

            formControlName="amount">
        <div class = "row mt-3">
        <button
       type="submit"
        class="btn btn-outline-success"
        >Подтвердить</button>
      </div>
      <div class = "row mt-3">
        <button
        type="button"
         class="btn btn-outline-danger"
         (click)="delete()">Удалить</button>
        </div>
    </form>

</div>
